# for Pycharm
.idea/*
*/__pycache__
/__pycache__

/src/data/*
/src/dlc_practical_prologue.py
/src/.idea/*

/Latex/main.pdf
/Latex/main.aux
/Latex/main.log
/Latex/main.lof
/Latex/main.thm
/Latex/main.synctex.gz
/Latex/main.out
/Latex/main.toc
/Latex/*.log
/Latex/_minted-main/*
